@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  background-color: #F5F5F5;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1528px;
  margin: 0 auto;
}

header {
  margin-right: 30px;
  background-color: #fff;
}

.header {
  display: flex;
  flex-direction: column;
  width: 313px;
}

.header-title {
  background-color: #028DD8;
  padding: 30px 0 31px 27px;
}

.header-title__link {
  color: #fff;
  list-style-type: none;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  background-image: url("../img/menu/arrow-left.png");
  background-position: center right;
  padding-right: 34px;
  background-repeat: no-repeat;
}

.nav {
  list-style-type: none;
  background: #FFFFFF;
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 0px 0px 0px 40px;
  min-height: 60px;
}

.nav-item:hover {
  background-color: #F2FBFF;
}

.nav-item:not(:first-child) {
  background-image: url("../img/menu/arrow-right.png");
  background-position: center right;
  background-repeat: no-repeat;
  margin-right: 23px;
}

.nav-link {
  padding-left: 18px;
  text-decoration: none;
  color: #013A59;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  max-width: 120px;
}

.nav-link:hover {
  color: #028DD8;
}

.hero-title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;
  color: #013A59;
  display: inline-block;
  margin-right: auto;
  width: 87%;
}

.hero-phone {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #5E7491;
  text-decoration: none;
}

.tariff {
  display: flex;
  margin-bottom: 41px;
  box-shadow: 0px 4px 4px rgba(68, 118, 145, 0.16);
  border-radius: 5px;
  max-width: 1069px;
}

.tariff-left {
  padding: 40px 102px 36px 39px;
  background-color: #F2FBFF;
}

.tariff-left__title {
  font-size: 18px;
  line-height: 24px;
  color: #013A59;
  margin-bottom: 7px;
}

.tariff-left__rating {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #013A59;
  margin-bottom: 40px;
}

.tariff-left__star {
  display: inline-block;
  margin-left: 6px;
}

.tariff-left__star img {
  margin-right: 4px;
}

.tariff-left__orders {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.tariff-left__orders-link {
  display: inline-block;
  padding-left: 6px;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  color: #F18334;
  text-decoration: none;
}

.tariff-left__orders-link:hover {
  text-shadow: 3px 3px 3px rgba(241, 131, 52, 0.4);
}

.tariff-right {
  display: flex;
  align-items: center;
  padding: 3px 112px 0 92px;
  background-color: #fff;
}

.tariff-right__managers {
  font-weight: 400;
  font-size: 19px;
  line-height: 27px;
  color: #5E7491;
  background-image: url("../img/hero/arrow.png");
  background-repeat: no-repeat;
  background-position: center right;
  padding-right: 72px;
  max-width: 116px;
  margin-right: 78px;
}

.tariff-right__sms {
  font-weight: 400;
  font-size: 19px;
  line-height: 27px;
  color: #5E7491;
  background-image: url("../img/hero/arrow.png");
  background-repeat: no-repeat;
  background-position: center right;
  padding-right: 74px;
  max-width: 151px;
}

.help {
  display: flex;
  margin-bottom: 43px;
  box-shadow: 0px 4px 4px rgba(68, 118, 145, 0.16);
  border-radius: 5px;
  max-width: 1069px;
}

.help-text {
  padding: 44px 57px 44px 220px;
  background-color: #fff;
  background-image: url("../img/hero/quest.jpg");
  background-repeat: no-repeat;
}

.help-text p {
  color: #028DD8;
  font-weight: 400;
  font-size: 19px;
  line-height: 27px;
}

.orders {
  display: flex;
  flex-wrap: wrap;
}

.orders-title {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #013A59;
}

.card {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 37px;
}

.card a {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 29px;
  color: #028DD8;
  background-repeat: no-repeat;
  background-position: center left;
  padding: 10px 0 10px 57px;
  text-decoration: none;
}

.card p {
  font-weight: 400;
  font-size: 19px;
  line-height: 29px;
  color: #5E7491;
}

.card-orders {
  width: 47%;
  padding: 34px 0px 37px 29px;
  background-color: #fff;
  background-image: url("../img/orders/picture1.png");
  background-repeat: no-repeat;
  background-position: center right;
  margin-right: 33px;
  margin-bottom: 33px;
}

.shadow {
  box-shadow: 0px 4px 4px rgba(68, 118, 145, 0.16);
  border-radius: 5px;
}

.card-orders__title {
  background-image: url("../img/orders/orders.png");
}

.card-orders__title:hover {
  text-shadow: 0 0 10px rgba(2, 141, 216, 0.6), 0 0 6px rgba(2, 141, 216, 0.4), 0 0 10px rgba(2, 141, 216, 0.3);
}

.card-orders__text {
  max-width: 315px;
  padding-left: 58px;
}

.card-buyers {
  width: 47%;
  padding: 34px 0px 37px 29px;
  margin-bottom: 33px;
  background-color: #fff;
  background-image: url("../img/orders/picture2.png");
  background-repeat: no-repeat;
  background-position: center right;
}

.card-buyers__title {
  background-image: url("../img/orders/buyers.png");
}

.card-buyers__title:hover {
  text-shadow: 0 0 10px rgba(2, 141, 216, 0.6), 0 0 6px rgba(2, 141, 216, 0.4), 0 0 10px rgba(2, 141, 216, 0.3);
}

.card-buyers__text {
  max-width: 446px;
  padding-left: 58px;
}

.card-receiving {
  width: 29.6%;
  margin-right: 43px;
  max-width: 482px;
  padding: 34px 0px 37px 29px;
  background-color: #fff;
}

.card-receiving__title {
  background-image: url("../img/orders/receiving.png");
}

.card-receiving__title:hover {
  text-shadow: 0 0 10px rgba(2, 141, 216, 0.6), 0 0 6px rgba(2, 141, 216, 0.4), 0 0 10px rgba(2, 141, 216, 0.3);
}

.card-receiving__text {
  max-width: 380px;
  padding-left: 58px;
}

.card-managers {
  width: 29.6%;
  margin-right: 41px;
  padding: 34px 0px 37px 29px;
  background-color: #fff;
}

.card-managers__title {
  background-image: url("../img/orders/managers.png");
}

.card-managers__title:hover {
  text-shadow: 0 0 10px rgba(2, 141, 216, 0.6), 0 0 6px rgba(2, 141, 216, 0.4), 0 0 10px rgba(2, 141, 216, 0.3);
}

.card-managers__text {
  max-width: 446px;
  padding-left: 58px;
}

.card-sms {
  width: 29.6%;
  padding: 34px 0px 37px 29px;
  background-color: #fff;
}

.card-sms__title {
  background-image: url("../img/orders/sms.png");
}

.card-sms__title:hover {
  text-shadow: 0 0 10px rgba(2, 141, 216, 0.6), 0 0 6px rgba(2, 141, 216, 0.4), 0 0 10px rgba(2, 141, 216, 0.3);
}

.card-sms__text {
  max-width: 285px;
  padding-left: 58px;
}

.placement-title {
  margin-bottom: 23px;
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;
  color: #013A59;
}

.effectiveness {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 37px;
}

.effectiveness h3 {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 29px;
  color: #028DD8;
}

.effectiveness p {
  font-weight: 400;
  font-size: 19px;
  line-height: 29px;
  color: #5E7491;
}

.effectiveness button {
  border: none;
  cursor: pointer;
  background: #028DD8;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.effectiveness button:hover {
  box-shadow: 0px 4px 20px rgba(68, 118, 145, 0.8);
}

.effectiveness-card1 {
  width: 46%;
  padding: 27px 0px 38px 41px;
  background-color: #fff;
  background-image: url("../img/orders/picture3.png");
  background-repeat: no-repeat;
  background-position: center right;
  margin-bottom: 33px;
  box-shadow: 0px 4px 4px rgba(68, 118, 145, 0.16);
  border-radius: 5px;
}

.effectiveness-card1__text {
  max-width: 505px;
  margin-bottom: 30px;
}

.effectiveness-card1__btn {
  padding: 12px 72px;
}

.effectiveness-card2 {
  width: 46%;
  padding: 27px 0px 38px 41px;
  margin-bottom: 33px;
  background-color: #fff;
  background-image: url("../img/orders/picture4.png");
  background-repeat: no-repeat;
  background-position: center right;
  box-shadow: 0px 4px 4px rgb(68 118 145 / 16%);
  border-radius: 5px;
}

.effectiveness-card2__text {
  max-width: 460px;
  margin-bottom: 15px;
}

.effectiveness-card2__btn {
  padding: 12px 116px;
}

.swiper {
  max-height: 783px;
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.swiper-button-prev {
  background-image: url("../img/sales/swipper-arrow.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 70px;
  height: 70px;
  transform: rotate(180deg);
  display: none;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "";
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "";
}

.swiper-button-next {
  background-image: url("../img/sales/swipper-arrow.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 70px;
  height: 70px;
}

.product {
  display: none;
  margin-bottom: 30px;
}

.product-title {
  margin-bottom: 29px;
}

.slide1 {
  background-image: url("../img/product/pic1.jpg");
}

.slide2 {
  background-image: url("../img/product/pic2.jpg");
}

.slide3 {
  background-image: url("../img/product/pic3.jpg");
}

.slide4 {
  background-image: url("../img/product/pic4.jpg");
}

.slide5 {
  background-image: url("../img/product/pic5.jpg");
}

.slide {
  min-height: 433px;
  padding: 40px;
  text-align: left;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;
}

.slide-title {
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #013A59;
  margin-bottom: 20px;
}

.slide-title:hover {
  color: #028DD8;
}

.slide-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #5E7491;
}

.sales {
  display: none;
}

.sales-title {
  margin-bottom: 17px;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #013A59;
}

.sales-subtitle {
  max-width: 650px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #5E7491;
  margin-bottom: 30px;
}

.sales-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #013A59;
  padding-top: 30px;
  max-width: 650px;
  margin-bottom: 20px;
}

.sales-btn {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #028DD8;
  border: 2px solid #028DD8;
  border-radius: 8px;
  padding: 15px 43px;
  margin-bottom: 36px;
  cursor: pointer;
}

.business {
  display: flex;
  width: 100%;
  background-image: url("../img/sales/picture1.png");
  background-repeat: no-repeat;
  background-position: 271px 0;
}

.business-left {
  display: flex;
  flex-direction: column;
  padding: 39px 0 45px 40px;
  max-width: 389px;
  text-align: left;
  margin-right: 15px;
}

.business-left__title {
  margin-bottom: 13px;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.01em;
  color: #013A59;
  background-image: url("../img/sales/calc.png");
  background-repeat: no-repeat;
  padding-top: 51px;
}

.business-left__subtitle {
  position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  color: #8F9EB2;
  max-width: 330px;
  margin-bottom: 30px;
}

.business-left__subtitle::after {
  content: "";
  display: block;
  width: 100px;
  height: 2px;
  background-color: #028DD8;
  margin-top: 30px;
}

.business-left .business-services__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 31px;
  color: #5E7491;
  margin-bottom: 22px;
}

.business-left .business-services__list {
  list-style-type: none;
}

.business-left .business-services__item {
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  color: #8F9EB2;
  background-image: url("../img/sales/check.png");
  background-repeat: no-repeat;
  padding-left: 32px;
  margin-bottom: 11px;
}

.business-right {
  display: flex;
  max-width: 70%;
}

.business-right .business-cards {
  display: flex;
  max-width: 1042px;
  margin-top: 104px;
}

.business-right .business-cards .business-card {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 29px 25px 24px 24px;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(68, 118, 145, 0.16);
  border-radius: 5px;
  max-height: 538px;
  margin-right: 30px;
}

.mobile {
  display: none;
}

.business-block {
  display: flex;
  background: rgba(2, 141, 216, 0.1);
  border-radius: 30px;
  justify-content: space-around;
  margin-bottom: 30px;
  padding: 11px 36px;
  align-content: center;
  align-items: center;
}

.business-block__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  color: #028DD8;
}

.business-block__star {
  display: flex;
}

 .business-block__star img {
  margin-right: 3px;
}

.business-right .business-cards .business-card__list {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #8F9EB2;
  max-width: 280px;
  padding-left: 20px;
}

.business-right .business-cards .business-card__item {
  margin-bottom: 20px;
}

.business-right .business-cards .business-card__btn {
  padding: 16px 99px;
  background: #028DD8;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  text-decoration: none;
  margin-top: auto;
}

.business-right .business-cards .business-card__btn:hover {
  box-shadow: 0px 4px 20px rgba(68, 118, 145, 0.8);
}

.inclusive {
  background-image: url("../img/sales/picture2.png");
}

.inclusive-cards {
  margin-top: 50px !important;
}

.inclusive-card {
  max-height: 640px !important;
}

.inclusive__item {
  margin-bottom: 13px !important;
}

.inclusive-services__title {
  display: none;
}

.inclusive-left__subtitle {
  max-width: 350px;
}

.russia {
  width: 100%;
  padding: 40px;
  padding-right: 0;
  background-color: #fff;
  background-image: url("../img/sales/russia.png");
  background-repeat: no-repeat;
  background-position: center right;
  text-align: left;
}

.russia-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #013A59;
  margin-bottom: 10px;
}

.russia-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #013A59;
  max-width: 621px;
  margin-bottom: 33px;
}

.russia-subtitle::after {
  content: "";
  display: block;
  width: 414px;
  height: 2px;
  background-color: #028DD8;
  margin-top: 27px;
}

.russia__btn {
  background: #028DD8;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  text-decoration: none;
  padding: 16px 99px;
}

.russia__btn:hover {
  box-shadow: 0px 4px 20px rgba(68, 118, 145, 0.8);
}

.russia .russia-card1 {
  max-width: 621px;
}

.russia .russia-card1__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: #5E7491;
  margin-bottom: 20px;
}

.russia .russia-card1__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #5E7491;
  margin-bottom: 30px;
  max-width: 668px;
}

.russia .russia-card2__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: #5E7491;
  margin-bottom: 20px;
}

.russia .russia-card2__list {
  max-width: 724px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 27px;
}

.russia .russia-card2__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #5E7491;
  margin-bottom: 12px;
}

.promotion {
  display: none;
  padding: 40px 0 40px 40px;
  margin-bottom: 30px;
  max-width: 1500px;
  background-color: #fff;
  background-image: url("../img/promotion/map.png");
  background-repeat: no-repeat;
  background-position: center right;
}

.promotion-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #013A59;
  margin-bottom: 10px;
}

.promotion-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #013A59;
  max-width: 621px;
  margin-bottom: 33px;
}

.promotion-subtitle::after {
  content: "";
  display: block;
  width: 414px;
  height: 2px;
  background-color: #028DD8;
  margin-top: 27px;
}

.promotion__btn {
  border: none;
  background: #028DD8;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  padding: 16px 99px;
  text-decoration: none;
}

.promotion__btn:hover {
  box-shadow: 0px 4px 20px rgba(68, 118, 145, 0.8);
}

.promotion .promotion-card1 {
  max-width: 621px;
}

.promotion .promotion-card1__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: #5E7491;
  margin-bottom: 20px;
}

.promotion .promotion-card1__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #5E7491;
  margin-bottom: 30px;
  max-width: 668px;
}

.promotion .promotion-card2__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: #5E7491;
  margin-bottom: 20px;
}

.promotion .promotion-card2__list {
  max-width: 724px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 27px;
}

.promotion .promotion-card2__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #5E7491;
  margin-bottom: 12px;
}